################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ISC.ActiveDirectory/obj
/ISC.ActiveDirectory/bin/Debug
/ISC.ActiveDirectoryManager/bin
/ISC.ActiveDirectoryManager/obj/Debug
/packages
